In [2]:
import pandas as pd
df2 = pd.read_csv("Merged_S&P_TSX_Composite_Historical_Data.csv")
df = df2.copy()
df.head()

         Date     Price      Open      High       Low Vol. Change %
0  1990-01-02  4,004.37  3,962.18  4,004.37  3,962.18  NaN    0.87%
1  1990-01-03  4,009.47  4,014.33  4,020.86  4,007.19  NaN    0.13%
2  1990-01-04  4,000.91  4,011.22  4,016.22  3,996.68  NaN   -0.21%
3  1990-01-05  3,990.37  3,997.67  4,007.58  3,989.25  NaN   -0.26%
4  1990-01-08  3,971.07  3,981.21  3,981.21  3,963.04  NaN   -0.48%

In [3]:
df = df.drop(columns=['Vol.'])

In [4]:
df.describe().T

         count unique         top freq
Date      6712   6712  1990-01-02    1
Price     6712   6689    3,448.51    2
Open      6712   6687   13,361.71    2
High      6712   6654    4,525.67    2
Low       6712   6637   11,447.20    3
Change %  6712    617       0.08%   53

In [5]:
df.isnull().sum()

Date        0
Price       0
Open        0
High        0
Low         0
Change %    0
dtype: int64

In [ ]:
# "Hac." sütununu dönüştürmek için fonksiyon
def convert_volume(value):
    value = value.replace(',', '.')  # Virgülü noktaya çevir
    if value.endswith('M'):
        return float(value[:-1]) * 1_000_000  # "M" ise milyonla çarp
    elif value.endswith('K'):
        return float(value[:-1]) * 1_000      # "K" ise binle çarp
    else:
        return float(value)                    # Kısaltma yoksa direkt float

# Fonksiyonu "Hac." sütununa uygulama
df['Hac.'] = df['Hac.'].apply(convert_volume)

In [6]:
df.head()

         Date     Price      Open      High       Low Change %
0  1990-01-02  4,004.37  3,962.18  4,004.37  3,962.18    0.87%
1  1990-01-03  4,009.47  4,014.33  4,020.86  4,007.19    0.13%
2  1990-01-04  4,000.91  4,011.22  4,016.22  3,996.68   -0.21%
3  1990-01-05  3,990.37  3,997.67  4,007.58  3,989.25   -0.26%
4  1990-01-08  3,971.07  3,981.21  3,981.21  3,963.04   -0.48%

In [8]:
# "Tarih" sütununu datetime formatına çevirme
#df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')
df['Date'] = pd.to_datetime(df['Date'],format='%Y-%m-%d')
df.head()

        Date     Price      Open      High       Low Change %
0 1990-01-02  4,004.37  3,962.18  4,004.37  3,962.18    0.87%
1 1990-01-03  4,009.47  4,014.33  4,020.86  4,007.19    0.13%
2 1990-01-04  4,000.91  4,011.22  4,016.22  3,996.68   -0.21%
3 1990-01-05  3,990.37  3,997.67  4,007.58  3,989.25   -0.26%
4 1990-01-08  3,971.07  3,981.21  3,981.21  3,963.04   -0.48%

In [9]:
# Eksik verileri kontrol etme
print(df.isnull().sum())

# Eksik verileri bir önceki değerle doldurma
#df = df.fillna(method='ffill')

Date        0
Price       0
Open        0
High        0
Low         0
Change %    0
dtype: int64

In [10]:
# İlk birkaç satırı görüntüleme
print(df.head())

# Sütun tiplerini kontrol etme
print(df.dtypes)

        Date     Price      Open      High       Low Change %
0 1990-01-02  4,004.37  3,962.18  4,004.37  3,962.18    0.87%
1 1990-01-03  4,009.47  4,014.33  4,020.86  4,007.19    0.13%
2 1990-01-04  4,000.91  4,011.22  4,016.22  3,996.68   -0.21%
3 1990-01-05  3,990.37  3,997.67  4,007.58  3,989.25   -0.26%
4 1990-01-08  3,971.07  3,981.21  3,981.21  3,963.04   -0.48%
Date        datetime64[ns]
Price               object
Open                object
High                object
Low                 object
Change %            object
dtype: object

In [11]:
# "Fark" sütununu sayısal değere dönüştürme
df['Change %'] = df['Change %'].str.replace('%', '')      # % sembolünü kaldır
df['Change %'] = df['Change %'].str.replace(',', '.')     # Virgülü noktaya çevir
df['Change %'] = df['Change %'].astype(float)             # Float'a dönüştür
# Dönüşüm sonrası kontrol
print(df['Change %'].head())

0    0.87
1    0.13
2   -0.21
3   -0.26
4   -0.48
Name: Change %, dtype: float64

In [12]:
# Tarih sütununun zaten datetime64[ns] formatında olduğunu varsayıyoruz
# Fiyat sütunlarını sayısal formata dönüştürme
#for col in ['Price', 'Open', 'High', 'Low']:
    #df[col] = df[col].str.replace(',', '.').astype(float)

for col in ['Price', 'Open', 'High', 'Low']:
    # Binlik ayırıcı noktaları kaldır (örneğin "1.001.30" → "1001.30" değil, bu veride anlam bozulabilir ama yine deneyelim)
    df[col] = df[col].str.replace('.', '', regex=False)  # Önce tüm noktaları kaldır
    # Daha sonra ondalık ayırıcının da noktadan farklı olduğunu varsayarsak değiştirebilirsin
    df[col] = df[col].str.replace(',', '.', regex=False)  # Virgülü noktaya çevir
    df[col] = df[col].astype(float)

# Dönüşüm sonrası sütun tiplerini kontrol etme
print(df.dtypes)

Date        datetime64[ns]
Price              float64
Open               float64
High               float64
Low                float64
Change %           float64
dtype: object

In [13]:
#SMA (Simple Moving Average - Basit Hareketli Ortalama)
#EMA (Exponential Moving Average - Üssel Hareketli Ortalama)

# 10 günlük SMA ekleme
df['SMA_10'] = df['Price'].rolling(window=10).mean()

# 10 günlük EMA ekleme
df['EMA_10'] = df['Price'].ewm(span=10, adjust=False).mean()
df.head()

        Date    Price     Open     High      Low  Change %  SMA_10    EMA_10
0 1990-01-02  4.00437  3.96218  4.00437  3.96218      0.87     NaN  4.004370
1 1990-01-03  4.00947  4.01433  4.02086  4.00719      0.13     NaN  4.005297
2 1990-01-04  4.00091  4.01122  4.01622  3.99668     -0.21     NaN  4.004500
3 1990-01-05  3.99037  3.99767  4.00758  3.98925     -0.26     NaN  4.001931
4 1990-01-08  3.97107  3.98121  3.98121  3.96304     -0.48     NaN  3.996320

In [14]:
# 10 günlük SMA ekleme
df['SMA_10'] = df['Price'].rolling(window=10).mean()

# 10 günlük EMA ekleme
df['EMA_10'] = df['Price'].ewm(span=10, adjust=False).mean()
df.head()

        Date    Price     Open     High      Low  Change %  SMA_10    EMA_10
0 1990-01-02  4.00437  3.96218  4.00437  3.96218      0.87     NaN  4.004370
1 1990-01-03  4.00947  4.01433  4.02086  4.00719      0.13     NaN  4.005297
2 1990-01-04  4.00091  4.01122  4.01622  3.99668     -0.21     NaN  4.004500
3 1990-01-05  3.99037  3.99767  4.00758  3.98925     -0.26     NaN  4.001931
4 1990-01-08  3.97107  3.98121  3.98121  3.96304     -0.48     NaN  3.996320

In [15]:
df['SMA_10'] = df['SMA_10'].fillna(df['Price'].expanding().mean()) # ilk 10 gün ortalaması
df.head(20)

,Date,Price,Open,High,Low,Change %,SMA_10,EMA_10
0,1990-01-02,4.00437,3.96218,4.00437,3.96218,0.87,4.004370,4.004370
1,1990-01-03,4.00947,4.01433,4.02086,4.00719,0.13,4.006920,4.005297
2,1990-01-04,4.00091,4.01122,4.01622,3.99668,-0.21,4.004917,4.004500
3,1990-01-05,3.99037,3.99767,4.00758,3.98925,-0.26,4.001280,4.001931
4,1990-01-08,3.97107,3.98121,3.98121,3.96304,-0.48,3.995238,3.996320
5,1990-01-09,3.95235,3.97414,3.97414,3.95114,-0.47,3.988090,3.988325
6,1990-01-10,3.94156,3.94367,3.94606,3.93269,-0.27,3.981443,3.979822
7,1990-01-11,3.94170,3.94501,3.94749,3.93766,0.00,3.976475,3.972891
8,1990-01-12,3.88184,3.90761,3.90761,3.87969,-1.52,3.965960,3.956336
9,1990-01-15,3.89401,3.88575,3.89893,3.87299,0.31,3.958765,3.945004
10,1990-01-16,3.89998,3.87256,3.90203,3.87256,0.15,3.948326,3.936818
11,1990-01-17,3.87227,3.89398,3.89717,3.87227,-0.71,3.934606,3.925082
12,1990-01-18,3.85739,3.86241,3.86877,3.85090,-0.38,3.920254,3.912774
13,1990-01-19,3.86507,3.87239,3.87239,3.85601,0.20,3.907724,3.904101
14,1990-01-22,3.80151,3.85647,3.85647,3.80087,-1.64,3.890768,3.885448
15,1990-01-23,3.81268,3.82127,3.82127,3.79352,0.29,3.876801,3.872217
16,1990-01-24,3.76146,3.76043,3.76335,3.74709,-1.34,3.858791,3.852080
17,1990-01-25,3.74935,3.76440,3.76440,3.74842,-0.32,3.839556,3.833402
18,1990-01-26,3.73372,3.75646,3.75717,3.72024,-0.42,3.824744,3.815278
19,1990-01-29,3.72252,3.73878,3.74085,3.72003,-0.30,3.807595,3.798413

In [16]:
from ta.momentum import RSIIndicator

#RSI (Relative Strength Index - Göreceli Güç Endeksi)
# 14 günlük RSI ekleme
rsi = RSIIndicator(close=df['Price'], window=14)
df['RSI_14'] = rsi.rsi()

In [17]:
#df['RSI_14'] = df['RSI_14'].fillna(df['RSI_14'].mean())

# İlk 30 günün RSI_14 ortalamasını hesapla (NaN hariç)
mean_first_20 = df.loc[:20, 'RSI_14'].mean()

# İlk 30 günün NaN değerlerini bu ortalama ile doldur
df.loc[:29, 'RSI_14'] = df.loc[:29, 'RSI_14'].fillna(mean_first_20)
df.head(20)

,Date,Price,Open,High,Low,Change %,SMA_10,EMA_10,RSI_14
0,1990-01-02,4.00437,3.96218,4.00437,3.96218,0.87,4.004370,4.004370,12.823872
1,1990-01-03,4.00947,4.01433,4.02086,4.00719,0.13,4.006920,4.005297,12.823872
2,1990-01-04,4.00091,4.01122,4.01622,3.99668,-0.21,4.004917,4.004500,12.823872
3,1990-01-05,3.99037,3.99767,4.00758,3.98925,-0.26,4.001280,4.001931,12.823872
4,1990-01-08,3.97107,3.98121,3.98121,3.96304,-0.48,3.995238,3.996320,12.823872
5,1990-01-09,3.95235,3.97414,3.97414,3.95114,-0.47,3.988090,3.988325,12.823872
6,1990-01-10,3.94156,3.94367,3.94606,3.93269,-0.27,3.981443,3.979822,12.823872
7,1990-01-11,3.94170,3.94501,3.94749,3.93766,0.00,3.976475,3.972891,12.823872
8,1990-01-12,3.88184,3.90761,3.90761,3.87969,-1.52,3.965960,3.956336,12.823872
9,1990-01-15,3.89401,3.88575,3.89893,3.87299,0.31,3.958765,3.945004,12.823872
10,1990-01-16,3.89998,3.87256,3.90203,3.87256,0.15,3.948326,3.936818,12.823872
11,1990-01-17,3.87227,3.89398,3.89717,3.87227,-0.71,3.934606,3.925082,12.823872
12,1990-01-18,3.85739,3.86241,3.86877,3.85090,-0.38,3.920254,3.912774,12.823872
13,1990-01-19,3.86507,3.87239,3.87239,3.85601,0.20,3.907724,3.904101,17.142321
14,1990-01-22,3.80151,3.85647,3.85647,3.80087,-1.64,3.890768,3.885448,11.464649
15,1990-01-23,3.81268,3.82127,3.82127,3.79352,0.29,3.876801,3.872217,16.687015
16,1990-01-24,3.76146,3.76043,3.76335,3.74709,-1.34,3.858791,3.852080,12.922774
17,1990-01-25,3.74935,3.76440,3.76440,3.74842,-0.32,3.839556,3.833402,12.220851
18,1990-01-26,3.73372,3.75646,3.75717,3.72024,-0.42,3.824744,3.815278,11.362973
19,1990-01-29,3.72252,3.73878,3.74085,3.72003,-0.30,3.807595,3.798413,10.779060

In [18]:
df.dtypes

Date        datetime64[ns]
Price              float64
Open               float64
High               float64
Low                float64
Change %           float64
SMA_10             float64
EMA_10             float64
RSI_14             float64
dtype: object

In [19]:
from ta.trend import MACD

#MACD (Moving Average Convergence Divergence) Hareketli Ortalama Yakınsama Iraksama göstergesidir
# MACD ekleme (12, 26, 9)
macd = MACD(close=df['Price'], window_slow=26, window_fast=12, window_sign=9)
df['MACD'] = macd.macd()          # MACD çizgisi
df['MACD_Signal'] = macd.macd_signal()  # Sinyal çizgisi
df['MACD_Diff'] = macd.macd_diff()      # Fark (histogram)

In [20]:
df.head(40)

,Date,Price,Open,High,Low,Change %,SMA_10,EMA_10,RSI_14,MACD,MACD_Signal,MACD_Diff
0,1990-01-02,4.00437,3.96218,4.00437,3.96218,0.87,4.004370,4.004370,12.823872,NaN,NaN,NaN
1,1990-01-03,4.00947,4.01433,4.02086,4.00719,0.13,4.006920,4.005297,12.823872,NaN,NaN,NaN
2,1990-01-04,4.00091,4.01122,4.01622,3.99668,-0.21,4.004917,4.004500,12.823872,NaN,NaN,NaN
3,1990-01-05,3.99037,3.99767,4.00758,3.98925,-0.26,4.001280,4.001931,12.823872,NaN,NaN,NaN
4,1990-01-08,3.97107,3.98121,3.98121,3.96304,-0.48,3.995238,3.996320,12.823872,NaN,NaN,NaN
5,1990-01-09,3.95235,3.97414,3.97414,3.95114,-0.47,3.988090,3.988325,12.823872,NaN,NaN,NaN
6,1990-01-10,3.94156,3.94367,3.94606,3.93269,-0.27,3.981443,3.979822,12.823872,NaN,NaN,NaN
7,1990-01-11,3.94170,3.94501,3.94749,3.93766,0.00,3.976475,3.972891,12.823872,NaN,NaN,NaN
8,1990-01-12,3.88184,3.90761,3.90761,3.87969,-1.52,3.965960,3.956336,12.823872,NaN,NaN,NaN
9,1990-01-15,3.89401,3.88575,3.89893,3.87299,0.31,3.958765,3.945004,12.823872,NaN,NaN,NaN
10,1990-01-16,3.89998,3.87256,3.90203,3.87256,0.15,3.948326,3.936818,12.823872,NaN,NaN,NaN
11,1990-01-17,3.87227,3.89398,3.89717,3.87227,-0.71,3.934606,3.925082,12.823872,NaN,NaN,NaN
12,1990-01-18,3.85739,3.86241,3.86877,3.85090,-0.38,3.920254,3.912774,12.823872,NaN,NaN,NaN
13,1990-01-19,3.86507,3.87239,3.87239,3.85601,0.20,3.907724,3.904101,17.142321,NaN,NaN,NaN
14,1990-01-22,3.80151,3.85647,3.85647,3.80087,-1.64,3.890768,3.885448,11.464649,NaN,NaN,NaN
15,1990-01-23,3.81268,3.82127,3.82127,3.79352,0.29,3.876801,3.872217,16.687015,NaN,NaN,NaN
16,1990-01-24,3.76146,3.76043,3.76335,3.74709,-1.34,3.858791,3.852080,12.922774,NaN,NaN,NaN
17,1990-01-25,3.74935,3.76440,3.76440,3.74842,-0.32,3.839556,3.833402,12.220851,NaN,NaN,NaN
18,1990-01-26,3.73372,3.75646,3.75717,3.72024,-0.42,3.824744,3.815278,11.362973,NaN,NaN,NaN
19,1990-01-29,3.72252,3.73878,3.74085,3.72003,-0.30,3.807595,3.798413,10.779060,NaN,NaN,NaN
20,1990-01-30,3.70700,3.71597,3.71639,3.69662,-0.42,3.788297,3.781792,10.011333,NaN,NaN,NaN
21,1990-01-31,3.70442,3.70821,3.70821,3.69045,-0.07,3.771512,3.767724,9.885287,NaN,NaN,NaN
22,1990-02-01,3.70905,3.71401,3.71401,3.69966,0.12,3.756678,3.757056,12.025894,NaN,NaN,NaN
23,1990-02-02,3.71957,3.70378,3.72660,3.70378,0.28,3.742128,3.750241,16.858467,NaN,NaN,NaN
24,1990-02-05,3.76721,3.73317,3.76721,3.73317,1.28,3.738698,3.753326,34.425529,NaN,NaN,NaN
25,1990-02-06,3.76906,3.77084,3.77859,3.75980,0.05,3.734336,3.756187,34.999884,-0.059836,NaN,NaN
26,1990-02-07,3.77923,3.75864,3.78329,3.75864,0.27,3.736113,3.760376,38.204218,-0.054231,NaN,NaN
27,1990-02-08,3.78333,3.78501,3.79534,3.78138,0.11,3.739511,3.764550,39.499109,-0.048896,NaN,NaN
28,1990-02-09,3.77778,3.77919,3.78553,3.77569,-0.15,3.743917,3.766955,38.328296,-0.044601,NaN,NaN
29,1990-02-12,3.76627,3.77588,3.77930,3.76469,-0.30,3.748292,3.766831,35.948457,-0.041646,NaN,NaN
30,1990-02-13,3.75186,3.76296,3.76296,3.74429,-0.38,3.752778,3.764109,33.171516,-0.040005,NaN,NaN
31,1990-02-14,3.75038,3.75430,3.75998,3.74971,-0.04,3.757374,3.761613,32.890494,-0.038382,NaN,NaN
32,1990-02-15,3.73274,3.74958,3.75025,3.73180,-0.47,3.759743,3.756363,29.664708,-0.038080,NaN,NaN
33,1990-02-16,3.73168,3.73754,3.74381,3.73080,-0.03,3.760954,3.751875,29.477619,-0.037495,-0.043813,0.006318
34,1990-02-19,3.73476,3.73263,3.73749,3.73254,0.08,3.757709,3.748763,30.842449,-0.036363,-0.042323,0.005960
35,1990-02-20,3.69225,3.71783,3.71783,3.68288,-1.14,3.750028,3.738488,23.952358,-0.038452,-0.041549,0.003096
36,1990-02-21,3.67246,3.66003,3.67259,3.66003,-0.54,3.739351,3.726483,21.539903,-0.041230,-0.041485,0.000255
37,1990-02-22,3.66862,3.67570,3.68441,3.66786,-0.10,3.727880,3.715963,21.095907,-0.043243,-0.041837,-0.001406
38,1990-02-23,3.65259,3.65406,3.66375,3.64633,-0.44,3.715361,3.704440,19.306813,-0.045606,-0.042590,-0.003016
39,1990-02-26,3.64949,3.63317,3.65041,3.62843,-0.08,3.703683,3.694449,18.971728,-0.047185,-0.043509,-0.003676

In [21]:
for col in ['MACD', 'MACD_Signal', 'MACD_Diff']: # İlk günki değer ile dolduruldu
    first_value = df[col].iloc[33]
    df[col] = df[col].fillna(first_value)
df.isnull().sum()

Date           0
Price          0
Open           0
High           0
Low            0
Change %       0
SMA_10         0
EMA_10         0
RSI_14         0
MACD           0
MACD_Signal    0
MACD_Diff      0
dtype: int64

In [22]:
df.dtypes

Date           datetime64[ns]
Price                 float64
Open                  float64
High                  float64
Low                   float64
Change %              float64
SMA_10                float64
EMA_10                float64
RSI_14                float64
MACD                  float64
MACD_Signal           float64
MACD_Diff             float64
dtype: object

In [23]:
df3 = df.copy() # her ihtimale karşı verileri koruma
df3.head(40)

,Date,Price,Open,High,Low,Change %,SMA_10,EMA_10,RSI_14,MACD,MACD_Signal,MACD_Diff
0,1990-01-02,4.00437,3.96218,4.00437,3.96218,0.87,4.004370,4.004370,12.823872,-0.037495,-0.043813,0.006318
1,1990-01-03,4.00947,4.01433,4.02086,4.00719,0.13,4.006920,4.005297,12.823872,-0.037495,-0.043813,0.006318
2,1990-01-04,4.00091,4.01122,4.01622,3.99668,-0.21,4.004917,4.004500,12.823872,-0.037495,-0.043813,0.006318
3,1990-01-05,3.99037,3.99767,4.00758,3.98925,-0.26,4.001280,4.001931,12.823872,-0.037495,-0.043813,0.006318
4,1990-01-08,3.97107,3.98121,3.98121,3.96304,-0.48,3.995238,3.996320,12.823872,-0.037495,-0.043813,0.006318
5,1990-01-09,3.95235,3.97414,3.97414,3.95114,-0.47,3.988090,3.988325,12.823872,-0.037495,-0.043813,0.006318
6,1990-01-10,3.94156,3.94367,3.94606,3.93269,-0.27,3.981443,3.979822,12.823872,-0.037495,-0.043813,0.006318
7,1990-01-11,3.94170,3.94501,3.94749,3.93766,0.00,3.976475,3.972891,12.823872,-0.037495,-0.043813,0.006318
8,1990-01-12,3.88184,3.90761,3.90761,3.87969,-1.52,3.965960,3.956336,12.823872,-0.037495,-0.043813,0.006318
9,1990-01-15,3.89401,3.88575,3.89893,3.87299,0.31,3.958765,3.945004,12.823872,-0.037495,-0.043813,0.006318
10,1990-01-16,3.89998,3.87256,3.90203,3.87256,0.15,3.948326,3.936818,12.823872,-0.037495,-0.043813,0.006318
11,1990-01-17,3.87227,3.89398,3.89717,3.87227,-0.71,3.934606,3.925082,12.823872,-0.037495,-0.043813,0.006318
12,1990-01-18,3.85739,3.86241,3.86877,3.85090,-0.38,3.920254,3.912774,12.823872,-0.037495,-0.043813,0.006318
13,1990-01-19,3.86507,3.87239,3.87239,3.85601,0.20,3.907724,3.904101,17.142321,-0.037495,-0.043813,0.006318
14,1990-01-22,3.80151,3.85647,3.85647,3.80087,-1.64,3.890768,3.885448,11.464649,-0.037495,-0.043813,0.006318
15,1990-01-23,3.81268,3.82127,3.82127,3.79352,0.29,3.876801,3.872217,16.687015,-0.037495,-0.043813,0.006318
16,1990-01-24,3.76146,3.76043,3.76335,3.74709,-1.34,3.858791,3.852080,12.922774,-0.037495,-0.043813,0.006318
17,1990-01-25,3.74935,3.76440,3.76440,3.74842,-0.32,3.839556,3.833402,12.220851,-0.037495,-0.043813,0.006318
18,1990-01-26,3.73372,3.75646,3.75717,3.72024,-0.42,3.824744,3.815278,11.362973,-0.037495,-0.043813,0.006318
19,1990-01-29,3.72252,3.73878,3.74085,3.72003,-0.30,3.807595,3.798413,10.779060,-0.037495,-0.043813,0.006318
20,1990-01-30,3.70700,3.71597,3.71639,3.69662,-0.42,3.788297,3.781792,10.011333,-0.037495,-0.043813,0.006318
21,1990-01-31,3.70442,3.70821,3.70821,3.69045,-0.07,3.771512,3.767724,9.885287,-0.037495,-0.043813,0.006318
22,1990-02-01,3.70905,3.71401,3.71401,3.69966,0.12,3.756678,3.757056,12.025894,-0.037495,-0.043813,0.006318
23,1990-02-02,3.71957,3.70378,3.72660,3.70378,0.28,3.742128,3.750241,16.858467,-0.037495,-0.043813,0.006318
24,1990-02-05,3.76721,3.73317,3.76721,3.73317,1.28,3.738698,3.753326,34.425529,-0.037495,-0.043813,0.006318
25,1990-02-06,3.76906,3.77084,3.77859,3.75980,0.05,3.734336,3.756187,34.999884,-0.059836,-0.043813,0.006318
26,1990-02-07,3.77923,3.75864,3.78329,3.75864,0.27,3.736113,3.760376,38.204218,-0.054231,-0.043813,0.006318
27,1990-02-08,3.78333,3.78501,3.79534,3.78138,0.11,3.739511,3.764550,39.499109,-0.048896,-0.043813,0.006318
28,1990-02-09,3.77778,3.77919,3.78553,3.77569,-0.15,3.743917,3.766955,38.328296,-0.044601,-0.043813,0.006318
29,1990-02-12,3.76627,3.77588,3.77930,3.76469,-0.30,3.748292,3.766831,35.948457,-0.041646,-0.043813,0.006318
30,1990-02-13,3.75186,3.76296,3.76296,3.74429,-0.38,3.752778,3.764109,33.171516,-0.040005,-0.043813,0.006318
31,1990-02-14,3.75038,3.75430,3.75998,3.74971,-0.04,3.757374,3.761613,32.890494,-0.038382,-0.043813,0.006318
32,1990-02-15,3.73274,3.74958,3.75025,3.73180,-0.47,3.759743,3.756363,29.664708,-0.038080,-0.043813,0.006318
33,1990-02-16,3.73168,3.73754,3.74381,3.73080,-0.03,3.760954,3.751875,29.477619,-0.037495,-0.043813,0.006318
34,1990-02-19,3.73476,3.73263,3.73749,3.73254,0.08,3.757709,3.748763,30.842449,-0.036363,-0.042323,0.005960
35,1990-02-20,3.69225,3.71783,3.71783,3.68288,-1.14,3.750028,3.738488,23.952358,-0.038452,-0.041549,0.003096
36,1990-02-21,3.67246,3.66003,3.67259,3.66003,-0.54,3.739351,3.726483,21.539903,-0.041230,-0.041485,0.000255
37,1990-02-22,3.66862,3.67570,3.68441,3.66786,-0.10,3.727880,3.715963,21.095907,-0.043243,-0.041837,-0.001406
38,1990-02-23,3.65259,3.65406,3.66375,3.64633,-0.44,3.715361,3.704440,19.306813,-0.045606,-0.042590,-0.003016
39,1990-02-26,3.64949,3.63317,3.65041,3.62843,-0.08,3.703683,3.694449,18.971728,-0.047185,-0.043509,-0.003676

In [24]:
df3.to_csv('Merged_S&P_TSX_without_Normalization.csv',index=False)

In [25]:
from sklearn.preprocessing import StandardScaler

# Normalleştirilecek sütunlar 'Change' ve 'Date' sütunu hariç her sütun normalize edilecek
normalize_columns = ['Price', 'Open', 'High', 'Low', 'SMA_10', 'EMA_10', 'MACD', 'MACD_Signal', 'MACD_Diff']

# StandardScaler ile standartlaştırma
scaler = StandardScaler()
df3[normalize_columns] = scaler.fit_transform(df3[normalize_columns])

# Sonucu kontrol etme
print(df3.head())

        Date     Price      Open      High       Low  Change %    SMA_10  \
0 1990-01-02 -1.270891 -1.281783 -1.274683 -1.277322      0.87 -1.270046
1 1990-01-03 -1.269542 -1.267996 -1.270349 -1.265338      0.13 -1.269371
2 1990-01-04 -1.271806 -1.268818 -1.271569 -1.268136     -0.21 -1.269902
3 1990-01-05 -1.274594 -1.272401 -1.273840 -1.270115     -0.26 -1.270864
4 1990-01-08 -1.279698 -1.276752 -1.280770 -1.277093     -0.48 -1.272464

     EMA_10     RSI_14     MACD  MACD_Signal  MACD_Diff
0 -1.270357  12.823872 -0.45228    -0.538521     0.2028
1 -1.270112  12.823872 -0.45228    -0.538521     0.2028
2 -1.270323  12.823872 -0.45228    -0.538521     0.2028
3 -1.271003  12.823872 -0.45228    -0.538521     0.2028
4 -1.272489  12.823872 -0.45228    -0.538521     0.2028

In [26]:
df3.to_csv("Merged_S&P_TSX_normalization.csv",index=False)